*{
    margin: 0;
    padding: 0;
}

body{
    font-family:Arial, Helvetica, sans-serif;
    color:black;
    background-color:#6c5764;
    font-weight: normal;
    font-size: 1.2em;
    border-top: 15px white;
    border-left: 5px green;
    margin-right: 15px;
    margin-left: 5px;
    padding: 20px;

}
h1{
    background-color:antiquewhite;
    padding: 20px 20px;
    margin: 1.6em;
    position:relative;
}
.personal{
    color: white;
}
.personal h2{

    color: black;
    background-color: white;
    position: cover;
    margin-bottom: 15px;
}
.personal tr{

    color:bisque;
}
.personal p{
    color: white;
    margin: 5px 10px;
}
.personal img{
    border-radius: 200px;
    border-top: 100px;
}

.obj h2{
    color: black;
    background-color: white;
    margin-bottom: 5px;
    padding: 3px;

}
.obj p{
    color: white;
    font-size: 1.2em;
    margin-bottom: 5px;
    margin-top: 5px;
    padding: 10px;
}
.eb h2{
    color: black;
    background-color: white;
    padding: 1px;
}
.eb p{
    color:white;
    padding:2px;
    padding-left: 5px;
}
.eb h3{

    color:bisque;
    padding: 5px;
}
.skills li{
color: white;
margin-left: 40px;
}
